/* Status Menu */
.o_integration_systray_dropdown {
    width: 300px;
}
.o_integration_stat {
    padding: 5px;
}

.o_integration_stat:not(:last-child) {
     border-bottom: 1px solid #ced4da;
}

/* Kanban */
.o_integration_kanban.o_kanban_ungrouped .o_kanban_record {
    width: 500px;
}

.o_integration_kanban h2 {
    font-size: 2rem;
}

.o_integration_kanban .hoverable-card {
    /* We add white border to avoid the card to move when the border is added on hover */
    border: 1px solid #FFFFFF;
}

.o_integration_kanban .hoverable-card:hover {
    border: 1px solid #C9CCD2;
}

.multiline {
    white-space: pre-line;
    font-family: monospace;
    padding: 8px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    overflow: auto;
}